.container {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 0.5em;
}

.label {
  font-size: .75em !important;
  color: var(--palette-primary-text-6);
  margin-bottom: .5em;
}

.checkbox {
  margin-inline: 0px !important;
}