.container {
  display: flex;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.containerWithFilter{
  display: flex;
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}
